# Problem set 3: Loading and structuring data from Denmark Statistics

In [63]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import pandas as pd
import ipywidgets as widgets

# Tasks

## Create a pandas DataFrame

Modify the code below such that *income* and *consumption* are variables in the *dt* DataFrame.

In [64]:
np.random.seed(1999)
 
N = 100
mydata = {}
mydata['id'] = range(N)
income = np.exp(np.random.normal(size=N))
consumption = np.sqrt(income)

mydata['income'] = income
mydata['consumption'] = consumption

dt = pd.DataFrame(mydata)
dt.head()

   id    income  consumption
0   0  0.727981     0.853218
1   1  1.997831     1.413447
2   2  0.276823     0.526140
3   3  1.481931     1.217346
4   4  1.235904     1.111712

**Answer:** see A01.py

## Create new variable

1) Add a new variable *ratio* which is the ratio of consumption to income.

In [65]:
# write your code here
dt.head()
dt['ratio'] = consumption/income
dt.head()

   id    income  consumption     ratio
0   0  0.727981     0.853218  1.172033
1   1  1.997831     1.413447  0.707490
2   2  0.276823     0.526140  1.900636
3   3  1.481931     1.217346  0.821459
4   4  1.235904     1.111712  0.899513

**Answer:** See A02.py

## Summary statistics

Produce summary statistics using `.describe()`.

In [66]:
# write your code here
dt.describe()

               id      income  consumption       ratio
count  100.000000  100.000000   100.000000  100.000000
mean    49.500000    1.415547     1.087844    1.117517
std     29.011492    1.322203     0.484238    0.525452
min      0.000000    0.108402     0.329245    0.351134
25%     24.750000    0.529323     0.727545    0.752310
50%     49.500000    0.981178     0.990533    1.009580
75%     74.250000    1.768211     1.329572    1.374491
max     99.000000    8.110612     2.847914    3.037255

**Answer:** See A03.py

## Indexing

Select everybody with an income above 1.

In [67]:
# write your code here
dt.head()
dt1 = dt.loc[dt['income'] > 1]
dt1.head()

   id    income  consumption     ratio
1   1  1.997831     1.413447  0.707490
3   3  1.481931     1.217346  0.821459
4   4  1.235904     1.111712  0.899513
6   6  2.574032     1.604379  0.623294
7   7  2.475478     1.573365  0.635580

**Answer:** See A04.py

Select everybody with an income *above* 1 and a ratio *above* 0.7.

In [68]:
# write your code here
dt1 = dt.loc[(dt.income > 1) & (dt.ratio > 0.7)]
dt1.head()

    id    income  consumption     ratio
1    1  1.997831     1.413447  0.707490
3    3  1.481931     1.217346  0.821459
4    4  1.235904     1.111712  0.899513
11  11  2.031708     1.425380  0.701567
18  18  1.280235     1.131475  0.883802

**Answer:** See A05.py

Set consumption equal to 0.5 if income is less than 0.5.

In [69]:
# write your code here
# dt['consumption'].mean() # <- compare with answer
dt.loc[dt.income < 0.5, ['consumption']] = 0.5
dt.head()

   id    income  consumption     ratio
0   0  0.727981     0.853218  1.172033
1   1  1.997831     1.413447  0.707490
2   2  0.276823     0.500000  1.900636
3   3  1.481931     1.217346  0.821459
4   4  1.235904     1.111712  0.899513

**Answer:**  See A06.py

Set consumption equal to income if income is less than 0.5.

In [70]:
# write your code here
# dt['consumption'].mean() # <- compare with answer
dt.loc[dt.income < 0.5, ['consumption']] = dt.income
dt.head()

   id    income  consumption     ratio
0   0  0.727981     0.853218  1.172033
1   1  1.997831     1.413447  0.707490
2   2  0.276823     0.276823  1.900636
3   3  1.481931     1.217346  0.821459
4   4  1.235904     1.111712  0.899513

**Answer:** See A07.py

## Dropping

Drop the *ratio* variable and all rows with an income above 1.5. After this, also drop the first 5 rows.

In [71]:
print(f'before: {dt.shape[0]} observations, {dt.shape[1]} variables')
# write your code here
dt.drop('ratio', axis=1, inplace=True)
dt = dt.loc[dt.income <= 1.5,]
dt = dt.loc[dt.index>5,]

print(f'after: {dt.shape[0]} observations, {dt.shape[1]} variables')

before: 100 observations, 4 variables
after: 65 observations, 3 variables

**Answer:** see A08.py

## Renaming

Rename *consumption* to *cons* and *income* to *inc*.

In [76]:
# write your code
dt.rename(columns={'income': 'inc'}, inplace=True) #inplace betyder at vi erstatter det eksisterende navn
dt.rename(columns={'consumption': 'cons'}, inplace=True) #inplace betyder at vi erstatter det eksisterende navn
dt.head()

    id       inc      cons
8    8  0.582074  0.762938
10  10  0.932044  0.965424
12  12  0.356952  0.356952
13  13  0.379825  0.379825
16  16  0.700896  0.837195

**Answer:** see A09.py

## Functions

Correct the wrong lines such that `assets_1 = assets_2 = assets_3 = assets_4`.

In [77]:
def assets_row_by_row(x,R,Y):
    return 0 # wrong line
    
def assets_all_at_once(income,consumption,R,Y):
    return 0 # wrong line

def assets_adj(assets,R,Y):
    # missing lines
    pass

R = 1.2 # return rate
Y = 1 # income
try:
    dt['assets_1'] = R*(dt['inc']-dt['con'])+Y
    dt['assets_2'] = dt.apply(assets_row_by_row,axis=1,args=(R,Y))
    dt['assets_3'] = assets_all_at_once(dt['inc'].values(),dt['con'].values(),R,Y)
    dt['assets_4'] = dt['inc']-dt['con']
    assets_adj(dt['assets_4'],R,Y)
except:
    print('failed')
dt.head()

failed

    id       inc      cons
8    8  0.582074  0.762938
10  10  0.932044  0.965424
12  12  0.356952  0.356952
13  13  0.379825  0.379825
16  16  0.700896  0.837195

**Answer:** see A10.py

# Problem

Load the data set in *data/NAH1_pivoted.xlsx* and clean and structure it such that the `plot_timeseries(dataframe)` below can be run and produce an interactive figure.

In [84]:
# Rename dictionary for renames all the columns
rename_dict = {}
rename_dict['P.1 Output'] = 'Y'
rename_dict['P.3 Final consumption expenditure'] = 'C'
rename_dict['P.3 Government consumption expenditure'] = 'G'
rename_dict['P.5 Gross capital formation'] = 'I'
rename_dict['P.6 Export of goods and services'] = 'X'
rename_dict['P.7 Import of goods and services'] = 'M'

In [119]:
# a. Loading the dataset
filename = 'data/NAH1_pivoted.xlsx' # open the file and have a look at it
df = pd.read_excel(filename, skiprows = 2).head(7)

# b. Renaming the variables
df.rename(columns = rename_dict, inplace=True)

# c. Remove rows where Y is a NaN
df = df[pd.notna(df.Y)]

# d. Impute observations for year
df.rename(columns={'Unnamed: 0': 'year'}, inplace=True)
for i in range(5):
    df.loc[i,['year']] = df.loc[i+1,['year']].values

print(i)
J = (1,3,5)
I = (0,2,4)
print(J)

df.loc[j,['year'] for j in J] = df.loc[i,['year']for i in I].values
#df.describe()
df.head()

4
(1, 3, 5)

,year,Unnamed: 1,Y,P.11 Market output,P.12 Output for own final use,P.13 Non-market output,P.131 Payment for other non-marked output,P.132 Other non-market output,P.11+P.12+P.131 Market output and output for own final use including payment for other non-marked output,D.21-D.31 Taxes less subsidies on products,...,P.32 Government collective consumption expenditure,I,P.51g Gross fixed capital formation,P.52+P.53 Changes in inventories etc.,P.52 Changes in inventories,P.53 Acquisitions less disposals of valuables,X,P.61 Export of goods,P.62 Export of services,Uses
0,NaN,Current prices,144582.0,..,..,..,..,..,..,8860.0,...,5231.0,21134.0,20242.0,892.0,750.0,142.0,23110.0,16941.0,6169.0,177847.0
1,1967,"2010-prices, chained values",1089347.0,..,..,..,..,..,..,97473.0,...,63369.0,127631.0,114728.0,-13109.0,32252.0,828.0,123594.0,83094.0,42570.0,1270295.0
2,NaN,Current prices,155581.0,..,..,..,..,..,..,10308.0,...,5979.0,22851.0,22454.0,397.0,226.0,172.0,24289.0,17654.0,6636.0,192060.0
3,1968,"2010-prices, chained values",1124579.0,..,..,..,..,..,..,113389.0,...,68175.0,133749.0,124490.0,-2688.0,741.0,967.0,128182.0,87606.0,42143.0,1326237.0
4,NaN,Current prices,167877.0,..,..,..,..,..,..,12509.0,...,6957.0,25369.0,24369.0,1000.0,774.0,226.0,27320.0,19787.0,7533.0,209109.0

In [121]:
df.yea

<bound method Series.isna of 0     NaN
1    1967
2     NaN
3    1968
4     NaN
5     NaN
6    1969
Name: year, dtype: object>

In [81]:
def _plot_timeseries(dataframe, variable, years):
    
    fig = plt.figure(dpi=100)
    ax = fig.add_subplot(1,1,1)
    
    dataframe.loc[:,['year']] = pd.to_numeric(dataframe['year'])
    I = (dataframe['year'] >= years[0]) & (dataframe['year'] <= years[1])
    
    x = dataframe.loc[I,'year']
    y = dataframe.loc[I,variable]
    ax.plot(x,y)
    
    ax.set_xticks(list(range(years[0], years[1] + 1, 5)))    
    
def plot_timeseries(dataframe):
    
    widgets.interact(_plot_timeseries, 
    dataframe = widgets.fixed(dataframe),
    variable = widgets.Dropdown(
        description='variable', 
        options=['Y','C','G','I','X','M'], 
        value='Y'),
    years=widgets.IntRangeSlider(
        description="years",
        min=1966,
        max=2018,
        value=[1980, 2018],
        continuous_update=False,
    )                 
);

**Hint 1:** You can base your renaming on this dictionary:

In [ ]:
rename_dict = {}
rename_dict['P.1 Output'] = 'Y'
rename_dict['P.3 Final consumption expenditure'] = 'C'
rename_dict['P.3 Government consumption expenditure'] = 'G'
rename_dict['P.5 Gross capital formation'] = 'I'
rename_dict['P.6 Export of goods and services'] = 'X'
rename_dict['P.7 Import of goods and services'] = 'M'

**Hint 2:** You code should have the following structure:

In [ ]:
# a. load data set
# nah1 = ?

# b. rename variables

# c. remove rows where Y is nan

# d. correct year column data
# hint, nah1.loc[J,['year']] = nah1.loc[I,['year']].values

# e. only keep rows with '2010-prices, chained values'

# f. only keep renamed variables

# g. interactive plot
# plot_timeseries(nan)

**Answer:** see A11.py

In [ ]:
plot_timeseries(nah1)

NameError: name 'nah1' is not defined

# Extra problems

## Extend interactive plot

Extend the interactive plot with a choice of *real* vs *nominal*.

## New data set

Load data from an Excel or CSV file you have downloaded from e.g. [Statistikbanken.dk](https://www.statistikbanken.dk/). Clean, structure and present the data as you see fit.